.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-icon-svg {
  width: 28px;
  height: 28px;
  fill: white;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 7px;
  min-width: 18px;
  text-align: center;
}